<%= @story.title %>
<%= form_tag(complete_path, method: 'post') do %>
<ul>
    <% temp = '' %>
    <% @story.replace_words[:replace].each_with_index do |part_of_speech, i| %>
        <% temp = part_of_speech.split(':').first if part_of_speech.include?(':') %>
        <% if part_of_speech.eql?(temp) %>
        <%= hidden_field_tag "madlib[#{i}]", temp %>
    <% else %>
        <li><%= label_tag part_of_speech %>
        <%= text_field_tag "madlib[#{i}]" %></li>
        <% end %>
    <% end %>
    <%= hidden_field_tag "slug", @story.slugged %>
</ul>
<%= submit_tag 'Let\'s MadLib!' %>
<% end %>
<%= link_to 'Back', root_path %>
