<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Madlibs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="total navbar text-center">
      <h2>MAD LIBS</h2>
    </header>
    <main class="container row">
      <section class="sidebar col-sm-3">
        <p>Choose a story!</p>
        <nav class="nav side">
          <ul>
            <% stories.each do |s| %>
            <li><%= link_to s.title, story_path(s) %></li>
            <% end %>
            <!-- <li>link_to s.title, story_path(s)</li>
            <li>link_to s.title, story_path(s)</li>
            <li>link_to s.title, story_path(s)</li>
            <li>link_to s.title, story_path(s)</li>
            <li>link_to s.title, story_path(s)</li>
            <li>link_to s.title, story_path(s)</li>
            <li>link_to s.title, story_path(s)</li>
            <li>link_to s.title, story_path(s)</li> -->
            <!-- <li>link_to s.title, story_path(s)</li> -->

          </ul>
        </nav>
      </section>
      <article class="content col-sm-9">
        <%= yield %>
      </article>

    </main>
    <footer class="navbar navbar-fixed-bottom text-center">
      Angel Vanegas &copy; 2017
    </footer>
  </body>
</html>
